{% block content %}
<!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <h1 class="text-uppercase text-bonbon font-weight-bold">Erreur 500 !</h1>
            <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
              <h2 class="text-biscuit font-weight-light mb-5">Erreur Serveur.</h2>
            </div>
        </div>
        </div>
    </header>
{% endblock %}