<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Vague-Finistère</title>
        {% load static %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link rel="icon" href="/static/img/wave_icone.png">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">

              <a class="navbar-brand js-scroll-trigger" href="/">
                <img src="/static/img/logo_wave.png" alt='logo' width='60px' height='50px'/>
                Vague-Finistère
              </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class='nav-item'>
                            <form action="{% url 'search' %}" class="research_products nav_search" method="GET">
                              {% csrf_token %}
                              {{ search_form.name }}
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><img src='/static/img/logouticon.png' alt='aliments' width='35px' height='35px'/></a></li>
                        {% else %}
                          <li class="nav-item"><a class="nav-link" href="{% url 'connection' %}">Connexion</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    <header class="masthead2">
      <section class="page-section" id="masthead2" >
        <div class="container">
          {% if error %}
            <h2 class="text-center text-rooibos mt-0">{{ error }}</h2>
          {% elif plages|length > 1 %}
            <h2 class="text-center text-rooibos mt-0">Voici d'autres les différents résultats pour votre recherche :</h2>
            <hr class="divider my-4">
            <div class="row justify-content-center text-center">
        	  {% for plage in plages %}
        	    <div class='col-lg-4 col-sm-12 alt_thumb'>
        	      <a href="{% url 'product' plage_name=Spot.name %}">
            	      <figure>
            	        <img src="/static/img/plage_photo/{{ Spot.name }}.png" width='150px' height="150px">
            	      </figure>
        	          <p class='text-rooibos'>{{ Spot.name }}</p>
        	       </a>
        	    </div>
            {% endfor %}
          {% elif plage %}
            <div id='plage_name' class='' style='background-image:url("/static/img/plage_photo/{{ plage.name }}.jpg")'>
               <!--<a><h1 class='text-rooibos'>{{ plage.name }}</h1></a>-->
              <p><a class="text-moules" href="{% url 'plage' plage_name=plage.name %}" >{{ plage.name }}</a></p>
            </div>
          {% endif %}
        </div>
      </section>
    </header>
  <!-- Alternatives Section 
    <section class="page-section" id="services">
      <div class="container">
        {% if no_alternatives %}
          <h2 class="text-center mt-0 text-bonbon">{{ no_alternatives }}</h2>
        {% elif alternatives %}
          <h2 class="text-center mt-0 text-bonbon">Voici pouvez remplacer cet aliment par :</h2>
          <hr class="divider my-4">
          <div class="row content justify-content-center text-center">
            {% for alternative in alternatives %}
              <div class='col-md-4 alt_thumb'>
                <figure>
                  <img src='{{ alternative.image_url}}' width='150px' height="150px">
                  <p class='nutriscore_thumb'>{{ alternative.nutrigrade | upper }}</p>
                </figure>
              <p><a class="text-moules" href="{% url 'product' product_name=alternative.name %}">{{ alternative.name }}</a></p>
              {% if user.is_authenticated %}
                <div>
                  <a class="save-alt" href="#" name="{{ alternative.id }}"><img src="/static/img/saveicon.png" alt='save' width='25px' height='25px'>Sauvegarder</a>
                </div>
              {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.save-alt').on('click', function(event) {
          event.preventDefault()
          $.ajax({
              type: 'POST',
              data: {
                product_id : $(this).attr('name'),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  }
              })
              .done(function(event){
                console.log(product_id)
                $(this).hide()
              })
          $(this).parent().text('Produit Sauvegardé')
        });
      });
    </script>
    -->
    </body>